<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js" defer></script>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"/>

    <title>Frontend Mentor | Multi-step form</title>
    <link rel="stylesheet" href="style.css" />

    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body>
    <!-- Sidebar start -->
    <div class="container" id="app">
      <nav class="sidebar">
       <div class="sidebarHeading-wrapper">
          <div>
            <h3>01</h3>
          </div>
          
          <div class="first" @mouseover="display(0)">
            <h3 class="sidebar-Heading" >Step 1</h3>
            <h2 class="sidebar-Subheading">Your info</h2>
          </div>
        </div>

        <div class="sidebarHeading-wrapper">
          <div>
            <h3>02</h3>
          </div>
         
          <div class="first" @mouseover="display(1)">
            <h3 class="sidebar-Heading" >Step 2</h3>
            <h2 class="sidebar-Subheading">Select plan</h2>
          </div>
          
        </div>
        <div class="sidebarHeading-wrapper">
          <div>
            <h3>03</h3>
        </div>
         
          <div class="first">
            <h3 class="sidebar-Heading" @mouseover="display(2)">Step 3</h3>
            <h2 class="sidebar-Subheading">Add-ons</h2>
          </div>
      </div>
      
        <div class="sidebarHeading-wrapper">
          <div>
            <h3>04</h3>
          </div>
           
          <div class="first">
          <h3 class="sidebar-Heading" @mouseover="display(3)">Step 4</h3>
          <h2 class="sidebar-Subheading">Summary</h2>
        </div>
      </div>
      </nav>
      <!-- Sidebar end -->

      <!-- Step 1 start -->
    <div class="interface">
      <div class="Personal-info" v-if="currentStep === 0">
       <h2 class="blueHeading"> Personal info </h2>
       <p class="interface-para">Please provide your name, email address, and phone number.</p>
       <form>
        <label>Name</label>
        <input type="text" value="" placeholder="e.g stephen king" id="name"/>

        <label>Email Address</label>
        <input type="text" value="" placeholder="e.g stephenking@lorem.com" id="email"/>

        <label>Phone Number</label>
        <input type="tel" value="" placeholder="e.g +234 1234 233" id="phone-number"/>
        <button class="nextbtn">Next Step</button>
       </form>

    </div>
      <!-- </div> -->

      
   

      <!-- Step 1 end -->

      <!-- Step 2 start -->
      <div class="Plan-info" v-else-if="currentStep === 1">
        <h2 class="blueHeading">  Select your plan </h2>
        <p class="interface-para"> You have the option of monthly or yearly billing.</p>
        <div class="price-plan">
            <div>
              <img src="./assets/images/icon-arcade.svg"/>
              <h3 class="planHeading">Arcade</h3>
              <p class="pricePara">  $9/mo</p>
            </div>

            <div>
              <img src="./assets/images/icon-advanced.svg"/>
              <h3 class="planHeading">Advanced</h3>
              <p class="pricePara"> $12/mo</p>
            </div>

            <div>
              <img src="./assets/images/icon-pro.svg"/>
              <h3 class="planHeading">Pro</h3>
              <p class="pricePara"> $15/mo</p>
            </div>

        </div>
        <div class="switcher">
          <h4 >Monthly </h4> 
          <input type="checkbox" id="toggle" class="offscreen"  @click="toggleDisplay">
          <label for="toggle" class="switch"></label>
          <h4> Yearly </h4>
        </div>

        <div class="plan-btns">

          <button>Go Back</button>
        
          <!-- <div class="parent" @click="toggle" v-model="">
            <div class="child" :class="{translate}">.</div>
          </div> -->
          <button> Next Step</button>
        </div>
 

     
      </div>
 <!-- Step 2 end -->

 <!-- YEAR PLAN SWITCHER -->
 <div class="Plan-info" v-else-if="currentStep === 1">
  <h2 class="blueHeading">  Select your plan </h2>
  <p class="interface-para"> You have the option of monthly or yearly billing.</p>
  <div class="price-plan">
      <div>
        <img src="./assets/images/icon-arcade.svg"/>
        <h3 class="planHeading">Arcade</h3>
        <p class="pricePara">  $9/mo</p>
      </div>

      <div>
        <img src="./assets/images/icon-advanced.svg"/>
        <h3 class="planHeading">Advanced</h3>
        <p class="pricePara"> $12/mo</p>
      </div>

      <div>
        <img src="./assets/images/icon-pro.svg"/>
        <h3 class="planHeading">Pro</h3>
        <p class="pricePara"> $15/mo</p>
      </div>

  </div>
  <div class="switcher">
    <button @click="display(0)">Month </button> 
    <input type="checkbox" id="toggle" class="offscreen" >
    <label for="toggle" class="switch"></label>
    <button @click="display(2)"> Yearly </button>
  </div>

  <div class="plan-btns">

    <button>Go Back</button>
  
    <!-- <div class="parent" @click="toggle" v-model="">
      <div class="child" :class="{translate}">.</div>
    </div> -->
    <button> Next Step</button>
  </div>



</div>
<!-- END -->

 <!-- Step 3 start -->
 <div class="add-on" v-else-if="currentStep === 2" >
             <h3 class="blueHeading">Pick add-ons</h3>
             <p class="interface-para">Add-ons help enhance your gaming experience.</p> 
      <div class="add-columns">
        <!-- start of 1st row -->
          <div class="inner-circle">
            <div class="innerdiv">
                  <div> <input type="checkbox" checked></div>
                  <div>
                  <h3 class="addon-heading">Online service</h3>
                  <p class="interface-para">Access to multiplayer games</p>
                  </div>
                  <div>
                  <p class="purple-para"> +$1/mo </p> 
                  </div>
            </div>
               
             
          </div>
          <!-- end of 1st row -->
           <!-- 2nd row -->
          <div class="inner-circle">
              <div class="innerdiv">
                <div><input type="checkbox" checked></div>
                <div><h3 class="addon-heading">Larger storage </h3>
                     <p class="interface-para">  Extra 1TB of cloud save</p>
                </div>
                 <div>
                  <p class="purple-para"> +$2/mo </p>
                 </div>
           </div>
          </div>
        <div class="inner-circle">
          <div class="innerdiv">
               <div> <input type="checkbox"></div>
               <div><h3 class="addon-heading" >Customizable Profile</h3> 
                <p class="interface-para">Custom theme on your profile </p>
              </div>
              <div> <p class="purple-para"> +$2/mo </p> </div>
         </div>
        </div>
      
    
     <div class="plan-btns planSpace">
        <button> Go Back</button>
         <button>Next Step </button> 
      </div>
   </div>
  </div>
      <!-- Step 3 end -->

      <!-- Step 4 start -->

      <!-- Finishing up Double-check everything looks OK before confirming. -->

      <!-- Dynamically add subscription and add-on selections here -->

      <!-- Total (per month/year) Go Back Confirm -->

      <!-- Step 4 end -->

      <!-- Step 5 start -->
        <!-- summary -->
        <div class="thank-section" v-else-if="currentStep === 3">
          <img src="assets/images/icon-thank-you.svg">
          <h3 class="blueHeading centeredThank">Thank you!</h3> 
          <p>Thanks for confirming your subscription! We hope you have fun
          using our platform. If you ever need support, please feel free to email us
          at support@loremgaming.com.
        </p>
        </div>
   

      <!-- Step 5 end -->
   
    <!-- <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="#">Your Name Here</a>.
    </div> -->
 
  </div>
  </body>
</html>
